* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: black;

}
body{
  background-image: url(https://images.unsplash.com/photo-1766898211697-158d058acfe9?q=80&w=1174&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: contain;
}

:root {
  --x: 100px;
  --y: 100px;
}

#box {
  height: 100%;
  width: 100%;
  border: 1px solid white;

  background: radial-gradient(
    150px at var(--x) var(--y),
     rgba(255, 255, 255, 0.505),
     rgba(0, 0, 0, 0.875)80%
  );
}
